modules = ["python-3.12", "web", "postgresql-16", "nodejs-24"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "glib", "nss", "nspr", "atk", "at-spi2-atk", "cups", "dbus", "expat", "libdrm", "mesa", "pango", "cairo", "alsa-lib", "libxkbcommon", "gtk3", "xorg.libX11", "xorg.libxcb", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "libgbm"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DJANGO_DEBUG=True DJANGO_ALLOWED_HOSTS='*' python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80


[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "survivor.wsgi:application"]
build = ["bash", "-c", "python manage.py collectstatic --noinput && python manage.py migrate --noinput"]
